/* Header */
.logo_sm_photo {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.logo_wrap:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    right: -2px;
    top: 50%;
    filter: drop-shadow(0px 0px 4px #FD6F00);
    transform: translateY(-50%);
}
.donwload_cv_btn {
    border: 2px solid transparent;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
}
.donwload_cv_btn:hover {
  color: var(--color-orange);
  background-color: #fff;
  border: 2px solid var(--color-orange);
}
.header_item_link {
    transition: color 0.4s;
}
.header_item_link:hover {
    color: var(--color-orange);
}